<div class="col s12 m4">
<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator card-img" src="../../../assets/img/dell laptop 1jpg.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Dell Inspiron 3350<i class="material-icons right">more_vert</i></span>
      <p><a href="#">More details</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Dell Inspiron 3350<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
  </div>
  <div class="col s12 m4">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator card-img" src="../../../assets/img/dell laptop 2.jpeg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Dell Inspiron 5510<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Dell Inspiron 5510<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
      </div>

      <div class="col s12 m4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator card-img" src="../../../assets/img/lenovo laptop 1.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">lenovo laptop<i class="material-icons right">more_vert</i></span>
              <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">lenovo laptop<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
          </div>
        
