<!-- <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/mobile">Mobile Parts</a></li>
        <li><a routerLink="moto">Moto</a></li>
        <li><a routerLink="sam">Samsung</a></li>
        
      </ul>
      
       <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul> - ->
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav> -->
  
  <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="../../../assets/img/officedash.jpg">
      </div>
      <a href="#user"><img class="circle" src="../../../assets/img/user.png"></a>
      <a href="#name"><span class="white-text name">User Name</span></a>
      <a href="#email"><span class="white-text email">xyz@gmail.com</span></a>
    </div></li>
    <li><a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" ><i class="material-icons">home</i>Home</a></li>
    <li><a routerLink="allproducts">View Products</a></li>
    <li><a routerLink="addproducts">Add Product</a></li>
    <li><a [routerLink]="['updateproduct']"  >Update Product</a></li>
    
  </ul>
  <a [routerLink]="['/dashboard']" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
   <router-outlet></router-outlet>